<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>🚀Utile</string>
	<key>connections</key>
	<dict>
		<key>20E46076-E269-445F-9176-16691D7EE596</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>95BE33AC-BBC9-405F-99BA-1B948EF8CFD0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>983638E1-1B16-499E-9742-361863BEE23D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>95BE33AC-BBC9-405F-99BA-1B948EF8CFD0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Hansanghyon</string>
	<key>description</key>
	<string>translation from papago.naver.com</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Papago</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>q</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>translating ...</string>
				<key>script</key>
				<string>if [ -f "/opt/homebrew/bin/php" ]; then
    /opt/homebrew/bin/php index.php "{query}"
elif [ -f "/usr/local/bin/php" ]; then
    /usr/local/bin/php index.php "{query}"
elif [ -f "/usr/bin/php" ]; then
    /usr/bin/php index.php "{query}"
fi</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Papago translate</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>983638E1-1B16-499E-9742-361863BEE23D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>95BE33AC-BBC9-405F-99BA-1B948EF8CFD0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>ㅂ</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>translating ...</string>
				<key>script</key>
				<string>if [ -f "/opt/homebrew/bin/php" ]; then
    /opt/homebrew/bin/php index.php "{query}"
elif [ -f "/usr/local/bin/php" ]; then
    /usr/local/bin/php index.php "{query}"
elif [ -f "/usr/bin/php" ]; then
    /usr/bin/php index.php "{query}"
fi</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>PHP Docs</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>20E46076-E269-445F-9176-16691D7EE596</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>20E46076-E269-445F-9176-16691D7EE596</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>95BE33AC-BBC9-405F-99BA-1B948EF8CFD0</key>
		<dict>
			<key>xpos</key>
			<integer>355</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>983638E1-1B16-499E-9742-361863BEE23D</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>clientId</key>
		<string>3dBnlIFLwoetTggbK8kl</string>
		<key>clientSecret</key>
		<string>HGcICxcKrw</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>clientSecret</string>
		<string>clientId</string>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://hyeon.pro</string>
</dict>
</plist>
